.year {
  &__container {
    display: flex;
    gap: 100px;
  }
  &__container span {
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
  }
  &__first {
    color: #5e5fef;
  }
  &__last {
    color: #ef5da8;
  }
}

.circular__container {
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circular__carousel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0px;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item__content {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: var(--color-primary);
  z-index: 100;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
}

.item__content::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.item__content:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #42567a;
  width: 56px;
  height: 56px;
  background-color: #f4f5f9;
  border: 1px solid #42567a;
}

.item__content {
  h2 {
    position: absolute;
    top: 14px;
    left: 70px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    width: 232px;
  }
}

svg {
  height: 530px;
  width: 530px;
  z-index: -1;
  overflow: visible;
}

.circle {
  fill: none;
  stroke: #42567a10;
  stroke-width: 1;
  stroke-miterlimit: 1;
}

@media (max-width: 1090px) {
  .circular__carousel {
    display: none;
  }

  .circular__container {
    height: unset;
    padding: 56px 0;
    box-sizing: border-box;
  }

  .year {
    &__container {
      display: flex;
      gap: calc(0px + (100 - 0) * ((100vw - 320px) / (1090 - 320)));
    }

    &__container span {
      font-size: calc(56px + (200 - 56) * ((100vw - 320px) / (1090 - 320)));
      line-height: 160px;
    }
  }

  .current__list {
    display: none;
  }

  .controls {
    display: none;
  }
}
