.container {
  max-width: 1420px;
  width: 100%;
  margin: auto;
  padding: 100px 0 0;
  height: 100vh;
  box-sizing: border-box;
  border-left: 1px solid #42567A30;
  border-right: 1px solid #42567A30;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #42567A30;
}

.select__container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #42567A30;
}

.title__container {
  display: flex;
  align-items: center;
}

.title {
  max-width: 353px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  color: var(--color-primary);
  margin-left: 76px;
}

.line {
  display: block;
  margin: 10px 0 0;
  width: 5px;
  height: 120px;
  background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
}

.year__container {
  padding: 0 76px;
  box-sizing: border-box;
}

@media (max-width: 1090px) {
  .container::before {
    position: unset;
    display: none;
  }
  .title__container {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 32px;
    line-height: 67.2px;
    margin-left: 34px;
  }

  .year__container {
    padding: 0 34px;
  }

  .line {
    display: none;
  }
}
