:root {
  --background-main: #F4F5F9;
  --color-primary: #42567A;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  // overflow: hidden;
}

body {
  background-color: var(--background-main);
  font-family: "Pt Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}