.swiper__container {
  margin: 56px 0 0;
  display: flex;
  align-items: center;
  position: relative;
}

.swiper__year {
  font-family: "Bebas Neue";
  color: #3877ee;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.swiper__description {
  margin: 15px 0 0;
  color: #42567a;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.swiper__pagination {
  margin: 100px 0 0;
  display: none;
}

.button {
  &__prev {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }
}

.swiper__controls {
  display: none;
}

@media (max-width: 1090px) {
  .swiper__container {
    margin: 0;
  }

  .swiper {
    height: 105px;
    margin: 56px 0 0;
  }

  .swiper__pagination {
    display: block;
  }

  .button {
    &__prev {
      display: none;
    }
    &__next {
      display: none;
    }
  }

  .swiper__controls {
    margin-top: 78px;
    display: flex;
  }

  .custom__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    // margin-top: 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #42567A;
    background-color: transparent;
  }

  .active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #42567A;
    background-color: #42567A;
  }
}
