.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #42567A50;
}

.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #42567A;
  background-color: #42567a;
}