.buttons__container {
  display: flex;
  align-items: center;
  margin: 20px 0 0;
  gap: 20px;
}

.current__list span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.12px;
  color: #42567a;
}

@media (max-width: 1090px) {
  .current__list span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.12px;
  }
}
